<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirBnB Clone</title>
        <link rel="stylesheet" href="../static/styles/4-common.css">
        <link rel="stylesheet" href="../static/styles/3-header.css">
        <link rel="stylesheet" href="../static/styles/3-footer.css">
        <link rel="stylesheet" href="../static/styles/6-filters.css">
        <link rel="icon" type="../static/image/png" href="../static/images/icon.png">
    </head>
    <body>
        <header>  
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <h4>
                        {% for state in states %}
                            {{ state.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </h4>
                    <div class="popover">
                        {% for state in states %}
                            <li>
                                <h2>{{ state.name }}:</h2>
                                <ul class="no-bullets">
                                    {% for city in state.cities %}
                                        <li><p>{{ city.name }}</p></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </div>
                </div>
    
                <div class="amenities">
                    <h3>Amenities</h3>
                    <h4>
                        {% for amenity in amenities %}
                            {{ amenity.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </h4>
                    <div class="popover">
                        <li>
                            <ul class="no-bullets">
                                {% for amenity in amenities %}
                                    <li><p>{{ amenity.name }}</p></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                </div>
    
                <button>Search</button>
            </section>
        </div>
    
        <footer>
            <p>Holberton School</p>
        </footer>
    </body>
</html>
                    