<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirBnB Clone</title>
        <link rel="stylesheet" href="../static/styles/4-common.css">
        <link rel="stylesheet" href="../static/styles/3-header.css">
        <link rel="stylesheet" href="../static/styles/3-footer.css">
        <link rel="stylesheet" href="../static/styles/6-filters.css">
        <link rel="icon" type="../static/image/png" href="../static/images/icon.png">
    </head>
    <body>
        <header>  
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <h4>California, Arizona</h4>
                    <ul class="popover">
                        {% if state -%}
                        <li>
                            <h2>{{ state.name }}</h2>
                            <ul>
                                {% for city in cities -%}
                                    {% if state.id == city.state_id %}
                                    <li>{{ city.name }}</li>
                                    {% endif %}
                                {%- endfor %}
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="amenities">
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <h4>Internet, kitchen</h4>
                    <div class="popover">
                            <ul class="no-bullets">
                                <li><p>Internet</p></li>
                                <li><p>TV</p></li>
                                <li><p>kitchen</p></li>
                                <li><p>Iron</p></li>
                            </ul>
                    </div>
                </div>
                <button>Search</button>
            </section>
        </div>
        <footer>
            <p>Holberton School</p>
        </footer>
    </body>
    
</html>